.svg-anime {
  position: absolute;
  margin-top: 50vh;
  max-height: 100%;
  overflow: hidden;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 20%;
  transform: translateX(-100%);
  scale: 1.5;
  /* transform: translateY(-50%); */
}
.svg-anime svg {
  max-height: 100%;
  overflow: visible;
}
.svg-anime .ball {
  fill: black;
  visibility: hidden;
}

.svg-anime .line {
  fill: none;
  stroke: white;
  stroke-width: 2px;
}
text {
  fill: white;
  font-size: 15px;
  font-family: "Signika Negative", sans-serif;
  visibility: hidden;
}
.theLine {
  stroke-dasharray: 1671.4647216796875;
}
.skiIcon {
  visibility: hidden;
}
