@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  overflow-y: scroll;
}
/* width */
::-webkit-scrollbar {
  width: 44px;
  background-color: rgb(31 41 55);
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-image: url("./assets/snowboard.png");
  background-repeat: no-repeat;
  background-position: 35% 5%;
}
.table-body > tr:nth-child(even) > th {
  background-color: rgb(65, 76, 95);
  color: white;
}
.table-body > tr:nth-child(odd) > th {
  background-color: rgb(101, 114, 135);
  color: white;
}
